<ion-header>

  <ion-navbar>
    <ion-title>{{conta.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <button (click)="expandItem(produtoPessoa)" ion-item *ngFor="let produtoPessoa of produtosPessoas">
      {{produtoPessoa.produto.nome}}
      
      <expandable [expandHeight]="itemExpandHeight" [expanded]="produtoPessoa.expanded">
        <p *ngFor="let consumidor of produtoPessoa.consumidores">
        {{consumidor.pessoa.nome}} x {{consumidor.quantidade}} - R${{consumidor.produto.preco}}
        </p>
      </expandable>
      <button ion-button clear item-end>R${{produtoPessoa.total}}</button>
    </button>
  </ion-list>

  <!-- BOTÃO ADICIONAR -->
  <ion-fab right bottom>
    <button ion-fab (click)="openProdutoModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
