page-home {

    .no-scroll .scroll-content{
        overflow: hidden;
   }

   .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    .material-icons {
      font-size: 18px;
      margin-top: -4px;
    }
}