expandable {

    :root {
        --height: 200px;
      }

    .expand-wrapper{
        height: 0;
        transition: 0.1s linear;
    }
    

    .expanded {
        height: var(--height) !important;
    }
}
