<ion-header>

  <ion-navbar>
    <ion-title>{{conta.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let pessoaProduto of pessoasProdutos">

      <ion-item (click)="expandItem(pessoaProduto)">
        {{pessoaProduto.pessoa.nome}}
        <expandable [expandHeight]="itemExpandHeight" [expanded]="pessoaProduto.expanded">
          <p *ngFor="let produtosConsumidos of pessoaProduto.produtosConsumidos">
            {{produtosConsumidos.produto.nome}} - {{produtosConsumidos.quantidade}} x
            {{produtosConsumidos.produto.preco}} = R${{produtosConsumidos.produto.preco * produtosConsumidos.quantidade}}
          </p>
        </expandable>
        <button ion-button clear item-end>R${{pessoaProduto.total}}</button>
      </ion-item>
      <ion-item-options>
        <button color="danger" (click)="removeItem(pessoaProduto)" ion-button>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>




  </ion-list>

  <!-- BOTÃO ADICIONAR -->
  <ion-fab right bottom>
    <button ion-fab (click)="openPessoaModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>